/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font import */
/* Jost for Heading fonts and Open Sans for Body fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #012a4a;
  color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.bg-primary {
  background-color: #012a4a;
}

.h-text-color {
  color: #0f9fc0;
}

.bg-btn {
  /* background-color: #07bdf9; */
  background-color: #0096c7;
}

.btn-border {
  border: 2px solid #07bdf9;
}

.portfolio-bg-popover {
  background-color: #011e36;
}

.logo-text {
  color: #07bdf9;
}

/* Fixed Social Media Styles */
.layout-main {
  position: relative;
}

.social-medias {
  width: 70px;
  height: 300px;
  background: #07bcf932;
  position: absolute;
  top: 30%;
  right: 0;
  margin-right: 12%;
  position: fixed;
}

/* Responsive Navbar */
.mobile-menu {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #fff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #06b6d4;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #06b5d4;
}

.box-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px rgba(17, 17, 26, 0.1) 0 16px 56px,
    rgba(17, 17, 26, 0.1) 0 24px 80px;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100% - 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu {
    display: none;
  }

  .social-medias {
    width: 50px;
    height: 200px;
    top: 20%;
    right: 0;
    margin-right: 3%;
    position: fixed;
  }
}
